NEXT_PUBLIC_SUPABASE_URL=sb_publishable_5az7RBQj8NVJOaux7oVbnQ_zQTJhc2T
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpaWhoZXpiamdxeGZrYWNnbmlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMDU5OTAsImV4cCI6MjEwNjc4MTk5MH0.bIG7l1Lf1ybvaSS0voJFkHbUedGHe7Dr1PoDdEun050
